In [0]:
from bs4 import BeautifulSoup
import requests

import numpy as np
import pandas as pd
from pandas.io.json import json_normalize #transform json data into pd df
import json

import matplotlib.cm as cm
import matplotlib.colors as colors
import folium

from sklearn.cluster import KMeans
from geopy.geocoders import Nominatim

In [0]:
 url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

In [0]:
response = requests.get(url)
data = response.text
soup = BeautifulSoup(data,'html.parser')

In [0]:
S_no = 0
d = dict()

table = soup.find('table')
table_rows = table.find_all('tr')
for tr in table_rows:
  td = tr.find_all('td')
  row = [i.text for i in td]
  #print(row)
  S_no +=1
  d[S_no] = row

In [6]:
d[4]

['M3A\n', 'North York\n', 'Parkwoods\n']

In [0]:
df = pd.DataFrame.from_dict(d,orient='index',columns=['Postal_Code','Borough','Neighborhood'])

In [8]:
df.head()

  Postal_Code         Borough        Neighborhood
1        None            None                None
2       M1A\n  Not assigned\n                  \n
3       M2A\n  Not assigned\n                  \n
4       M3A\n    North York\n         Parkwoods\n
5       M4A\n    North York\n  Victoria Village\n

In [0]:
df = df.replace('\n','', regex=True)

In [10]:
df.drop(df.index[df['Borough'] == 'Not assigned'], inplace = True)
df = df.reset_index(drop=True)
df.head()

  Postal_Code           Borough                      Neighborhood
0        None              None                              None
1         M3A        North York                         Parkwoods
2         M4A        North York                  Victoria Village
3         M5A  Downtown Toronto         Regent Park, Harbourfront
4         M6A        North York  Lawrence Manor, Lawrence Heights

In [11]:
df.shape

(104, 3)

In [12]:
df.drop(df.index[0], inplace = True)
df = df.reset_index(drop=True)
df.head()

  Postal_Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [13]:
df.shape

(103, 3)

In [14]:
type(df.iloc[0,1])

str

In [15]:
df['latitude'] = None
df['longitude'] = None
df.head()

  Postal_Code           Borough  ... latitude longitude
0         M3A        North York  ...     None      None
1         M4A        North York  ...     None      None
2         M5A  Downtown Toronto  ...     None      None
3         M6A        North York  ...     None      None
4         M7A  Downtown Toronto  ...     None      None

[5 rows x 5 columns]

In [0]:
for i in range(len(df)):
  address = df.iloc[i,1]+' , Toronto, Ontario'
  geolocator = Nominatim(user_agent="ny_explorer")
  location = geolocator.geocode(address)
  latitude = location.latitude
  longitude = location.longitude
  df.iloc[i,3] = latitude
  df.iloc[i,4] = longitude

In [17]:
df.head()

  Postal_Code           Borough  ... latitude longitude
0         M3A        North York  ...  43.7543  -79.4491
1         M4A        North York  ...  43.7543  -79.4491
2         M5A  Downtown Toronto  ...  43.6563  -79.3809
3         M6A        North York  ...  43.7543  -79.4491
4         M7A  Downtown Toronto  ...  43.6563  -79.3809

[5 rows x 5 columns]

In [18]:
#Different method of getting coordinates
'''import sys
!{sys.executable} -m pip install geocoder
import geocoder
from geopy.geocoders import arcgis as arcgis'''

'import sys\n!{sys.executable} -m pip install geocoder\nimport geocoder\nfrom geopy.geocoders import arcgis as arcgis'

In [19]:
'''code = 'M5A'
g = geocoder.arcgis('{}, Toronto, Ontario'.format(code))
lat_lng_coords = g.latlng
lat_lng_coords'''

"code = 'M5A'\ng = geocoder.arcgis('{}, Toronto, Ontario'.format(code))\nlat_lng_coords = g.latlng\nlat_lng_coords"

In [20]:
df.shape

(103, 5)

In [21]:
print('Dataframe has {} Borough and {} neighborhood.'.format(len(df.Borough.unique()),df.shape[0]))

Dataframe has 10 Borough and 103 neighborhood.

###Using geopy library to visualize the place after getting cordinates

In [22]:
address = 'Toronto, Canada'

geolocator = Nominatim(user_agent="can_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of Toronto are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of Toronto are 43.6534817, -79.3839347.

In [0]:
map_toronto = folium.Map(location=[latitude, longitude], zoom_start=11)

for lat, lng, borough, neighborhood in zip(df['latitude'], df['longitude'], df['Borough'], df['Neighborhood']):
    label = '{}, {}'.format(neighborhood, borough)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='red',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_toronto)  
    
#map_toronto
#map_toronto.save('map.html')

In [24]:
print('=================================================================================================================')

=================================================================================================================

##Define Foursquare Credentials and Version

In [25]:
CLIENT_ID = 'PYANEEI0VEF3DT0UYBXNCSB2JR0U230EJF0NYRKSZMNBSL1H' # your Foursquare ID
CLIENT_SECRET = 'L2B5GO3BHAZPAS21BWWX2K0XMBCMWFW3QS5DDGLVPCJV0VYB' # your Foursquare Secret
VERSION = '20180604'
LIMIT = 30
print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: PYANEEI0VEF3DT0UYBXNCSB2JR0U230EJF0NYRKSZMNBSL1H
CLIENT_SECRET:L2B5GO3BHAZPAS21BWWX2K0XMBCMWFW3QS5DDGLVPCJV0VYB

####Let's explore the first neighborhood in our dataframe.Â¶

In [26]:
 df.loc[0, 'Neighborhood']

'Parkwoods'

In [27]:
neighborhood_name = df.loc[0, 'Neighborhood'] 
neighborhood_latitude = df.loc[0, 'latitude'] 
neighborhood_longitude = df.loc[0, 'longitude'] 

print('Latitude and longitude values of {} are {}, {}.'.format(neighborhood_name, 
                                                               neighborhood_latitude, 
                                                               neighborhood_longitude))

Latitude and longitude values of Parkwoods are 43.7543263, -79.44911696639593.

In [28]:
# Top 100 venues near to the specified neighborhood
LIMIT = 100
radius = 500
url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
    CLIENT_ID, 
    CLIENT_SECRET, 
    VERSION, 
    neighborhood_latitude, 
    neighborhood_longitude, 
    radius, 
    LIMIT)
url

'https://api.foursquare.com/v2/venues/explore?&client_id=PYANEEI0VEF3DT0UYBXNCSB2JR0U230EJF0NYRKSZMNBSL1H&client_secret=L2B5GO3BHAZPAS21BWWX2K0XMBCMWFW3QS5DDGLVPCJV0VYB&v=20180604&ll=43.7543263,-79.44911696639593&radius=500&limit=100'

In [29]:
results = requests.get(url).json()
results

{'meta': {'code': 200, 'requestId': '5eb557630f5968001bea3ea6'},
 'response': {'groups': [{'items': [{'reasons': {'count': 0,
       'items': [{'reasonName': 'globalInteractionReason',
         'summary': 'This spot is popular',
         'type': 'general'}]},
      'referralId': 'e-0-5a888f7647f8767d37b92f00-0',
      'venue': {'categories': [{'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/mediterranean_',
          'suffix': '.png'},
         'id': '4bf58dd8d48988d1c0941735',
         'name': 'Mediterranean Restaurant',
         'pluralName': 'Mediterranean Restaurants',
         'primary': True,
         'shortName': 'Mediterranean'}],
       'id': '5a888f7647f8767d37b92f00',
       'location': {'address': '832 Sheppard West',
        'cc': 'CA',
        'city': 'North York',
        'country': 'Canada',
        'crossStreet': 'NE corner of Sheppard & Wilmington',
        'distance': 246,
        'formattedAddress': ['832 Sheppard West (NE corner of Sheppard & Wilmington)',
         'North York ON M3H 2T1',
         'Canada'],
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.753122978404804,
          'lng': -79.45169001817703}],
        'lat': 43.753122978404804,
        'lng': -79.45169001817703,
        'neighborhood': 'Bathurst Manor',
        'postalCode': 'M3H 2T1',
        'state': 'ON'},
       'name': 'Grill Gate',
       'photos': {'count': 0, 'groups': []}}},
     {'reasons': {'count': 0,
       'items': [{'reasonName': 'globalInteractionReason',
         'summary': 'This spot is popular',
         'type': 'general'}]},
      'referralId': 'e-0-4bc3acbdabf495210a22c493-1',
      'venue': {'categories': [{'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/middleeastern_',
          'suffix': '.png'},
         'id': '4bf58dd8d48988d115941735',
         'name': 'Middle Eastern Restaurant',
         'pluralName': 'Middle Eastern Restaurants',
         'primary': True,
         'shortName': 'Middle Eastern'}],
       'id': '4bc3acbdabf495210a22c493',
       'location': {'address': '660 Sheppard Avenue West',
        'cc': 'CA',
        'city': 'Toronto',
        'country': 'Canada',
        'crossStreet': 'Bathurst',
        'distance': 451,
        'formattedAddress': ['660 Sheppard Avenue West (Bathurst)',
         'Toronto ON',
         'Canada'],
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.754493246006334,
          'lng': -79.44350727697311}],
        'lat': 43.754493246006334,
        'lng': -79.44350727697311,
        'state': 'ON'},
       'name': 'Orly Restaurant & Grill',
       'photos': {'count': 0, 'groups': []}}},
     {'reasons': {'count': 0,
       'items': [{'reasonName': 'globalInteractionReason',
         'summary': 'This spot is popular',
         'type': 'general'}]},
      'referralId': 'e-0-5011603fe4b07c3cf1967fba-2',
      'venue': {'categories': [{'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/coffeeshop_',
          'suffix': '.png'},
         'id': '4bf58dd8d48988d1e0931735',
         'name': 'Coffee Shop',
         'pluralName': 'Coffee Shops',
         'primary': True,
         'shortName': 'Coffee Shop'}],
       'id': '5011603fe4b07c3cf1967fba',
       'location': {'address': '680 Sheppard Ave West',
        'cc': 'CA',
        'city': 'North York',
        'country': 'Canada',
        'crossStreet': 'Bryant',
        'distance': 474,
        'formattedAddress': ['680 Sheppard Ave West (Bryant)',
         'North York ON M3H 2S5',
         'Canada'],
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.75476686520758,
          'lng': -79.44325044751167}],
        'lat': 43.75476686520758,
        'lng': -79.44325044751167,
        'postalCode': 'M3H 2S5',
        'state': 'ON'},
       'name': 'Tim Hortons',
       'photos': {'count': 0, 'groups': []}}},
     {'reasons': {'count': 0,
       'items': [{'reasonName': 'globalInteractionReason',
         'summary': 'This spot is popular',
         'type': 'general'}]},
      'referralId': 'e-0-50f9bbcc5d24acebc25936af-3',
      'venue': {'categories': [{'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/pizza_',
          'suffix': '.png'},
         'id': '4bf58dd8d48988d1ca941735',
         'name': 'Pizza Place',
         'pluralName': 'Pizza Places',
         'primary': True,
         'shortName': 'Pizza'}],
       'id': '50f9bbcc5d24acebc25936af',
       'location': {'address': '820 Sheppard Ave W',
        'cc': 'CA',
        'city': 'Toronto',
        'country': 'Canada',
        'distance': 197,
        'formattedAddress': ['820 Sheppard Ave W',
         'Toronto ON M3H 2T1',
         'Canada'],
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.75312660212406,
          'lng': -79.45092591363169}],
        'lat': 43.75312660212406,
        'lng': -79.45092591363169,
        'postalCode': 'M3H 2T1',
        'state': 'ON'},
       'name': "Domino's Pizza",
       'photos': {'count': 0, 'groups': []}}}],
    'name': 'recommended',
    'type': 'Recommended Places'}],
  'headerFullLocation': 'Bathurst Manor, Toronto',
  'headerLocation': 'Bathurst Manor',
  'headerLocationGranularity': 'neighborhood',
  'suggestedBounds': {'ne': {'lat': 43.758826304500005,
    'lng': -79.44289859530187},
   'sw': {'lat': 43.7498262955, 'lng': -79.45533533749}},
  'totalResults': 4}}

In [0]:
# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

Clean the json and structure it into a pandas dataframe

In [31]:
venues = results['response']['groups'][0]['items']
    
nearby_venues = json_normalize(venues) # flatten JSON

# filter columns
filtered_columns = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']
nearby_venues =nearby_venues.loc[:, filtered_columns]

# filter the category for each row
nearby_venues['venue.categories'] = nearby_venues.apply(get_category_type, axis=1)

# clean columns
nearby_venues.columns = [col.split(".")[-1] for col in nearby_venues.columns]

nearby_venues.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  This is separate from the ipykernel package so we can avoid doing imports until

                      name                 categories        lat        lng
0               Grill Gate   Mediterranean Restaurant  43.753123 -79.451690
1  Orly Restaurant & Grill  Middle Eastern Restaurant  43.754493 -79.443507
2              Tim Hortons                Coffee Shop  43.754767 -79.443250
3           Domino's Pizza                Pizza Place  43.753127 -79.450926

In [32]:
print('{} venues were returned by Foursquare near to the specified neighbor'.format(nearby_venues.shape[0]))

4 venues were returned by Foursquare near to the specified neighbor

In [0]:
def getNearbyVenues(names, latitudes, longitudes):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

In [34]:
nearby_venues.head()

                      name                 categories        lat        lng
0               Grill Gate   Mediterranean Restaurant  43.753123 -79.451690
1  Orly Restaurant & Grill  Middle Eastern Restaurant  43.754493 -79.443507
2              Tim Hortons                Coffee Shop  43.754767 -79.443250
3           Domino's Pizza                Pizza Place  43.753127 -79.450926

In [35]:
toronto_venues = getNearbyVenues(names=df['Neighborhood'],
                                 latitudes=df['latitude'],
                                 longitudes=df['longitude'])

Parkwoods
Victoria Village
Regent Park, Harbourfront
Lawrence Manor, Lawrence Heights
Queen's Park, Ontario Provincial Government
Islington Avenue
Malvern, Rouge
Don Mills
Parkview Hill, Woodbine Gardens
Garden District, Ryerson
Glencairn
West Deane Park, Princess Gardens, Martin Grove, Islington, Cloverdale
Rouge Hill, Port Union, Highland Creek
Don Mills
Woodbine Heights
St. James Town
Humewood-Cedarvale
Eringate, Bloordale Gardens, Old Burnhamthorpe, Markland Wood
Guildwood, Morningside, West Hill
The Beaches
Berczy Park
Caledonia-Fairbanks
Woburn
Leaside
Central Bay Street
Christie
Cedarbrae
Hillcrest Village
Bathurst Manor, Wilson Heights, Downsview North
Thorncliffe Park
Richmond, Adelaide, King
Dufferin, Dovercourt Village
Scarborough Village
Fairview, Henry Farm, Oriole
Northwood Park, York University
East Toronto
Harbourfront East, Union Station, Toronto Islands
Little Portugal, Trinity
Kennedy Park, Ionview, East Birchmount Park
Bayview Village
Downsview
The Danforth West, Riverdale
Toronto Dominion Centre, Design Exchange
Brockton, Parkdale Village, Exhibition Place
Golden Mile, Clairlea, Oakridge
York Mills, Silver Hills
Downsview
India Bazaar, The Beaches West
Commerce Court, Victoria Hotel
North Park, Maple Leaf Park, Upwood Park
Humber Summit
Cliffside, Cliffcrest, Scarborough Village West
Willowdale, Newtonbrook
Downsview
Studio District
Bedford Park, Lawrence Manor East
Del Ray, Mount Dennis, Keelsdale and Silverthorn
Humberlea, Emery
Birch Cliff, Cliffside West
Willowdale
Downsview
Lawrence Park
Roselawn
Runnymede, The Junction North
Weston
Dorset Park, Wexford Heights, Scarborough Town Centre
York Mills West
Davisville North
Forest Hill North & West
High Park, The Junction South
Westmount
Wexford, Maryvale
Willowdale
North Toronto West
The Annex, North Midtown, Yorkville
Parkdale, Roncesvalles
Canada Post Gateway Processing Centre
Kingsview Village, St. Phillips, Martin Grove Gardens, Richview Gardens
Agincourt
Davisville
University of Toronto, Harbord
Runnymede, Swansea
Clarks Corners, Tam O'Shanter, Sullivan
Moore Park, Summerhill East
Kensington Market, Chinatown, Grange Park
Milliken, Agincourt North, Steeles East, L'Amoreaux East
Summerhill West, Rathnelly, South Hill, Forest Hill SE, Deer Park
CN Tower, King and Spadina, Railway Lands, Harbourfront West, Bathurst Quay, South Niagara, Island airport
New Toronto, Mimico South, Humber Bay Shores
South Steeles, Silverstone, Humbergate, Jamestown, Mount Olive, Beaumond Heights, Thistletown, Albion Gardens
Steeles West, L'Amoreaux West
Rosedale
Stn A PO Boxes
Alderwood, Long Branch
Northwest
Upper Rouge
St. James Town, Cabbagetown
First Canadian Place, Underground city
The Kingsway, Montgomery Road, Old Mill North
Church and Wellesley
Business reply mail Processing Centre
Old Mill South, King's Mill Park, Sunnylea, Humber Bay, Mimico NE, The Queensway East, Royal York South East, Kingsway Park South East
Mimico NW, The Queensway West, South of Bloor, Kingsway Park South West, Royal York South West

In [36]:
toronto_venues.shape

(412, 7)

In [37]:
toronto_venues.head()

       Neighborhood  ...             Venue Category
0         Parkwoods  ...   Mediterranean Restaurant
1         Parkwoods  ...  Middle Eastern Restaurant
2         Parkwoods  ...                Coffee Shop
3         Parkwoods  ...                Pizza Place
4  Victoria Village  ...   Mediterranean Restaurant

[5 rows x 7 columns]

In [38]:
print('There are {} unique Venue categories.'.format(len(toronto_venues['Venue Category'].unique())))

There are 4 unique Venue categories.

In [39]:
toronto_venues.groupby('Neighborhood').count().head()  #Each neighborhood had returned 4 venues

                                                 Neighborhood Latitude  ...  Venue Category
Neighborhood                                                            ...
Agincourt                                                            4  ...               4
Alderwood, Long Branch                                               4  ...               4
Bathurst Manor, Wilson Heights, Downsview North                      4  ...               4
Bayview Village                                                      4  ...               4
Bedford Park, Lawrence Manor East                                    4  ...               4

[5 rows x 6 columns]

One-hot encoding

In [40]:
toronto_onehot = pd.get_dummies(toronto_venues[['Venue Category']], prefix="", prefix_sep="")
toronto_onehot.head()

   Coffee Shop  ...  Pizza Place
0            0  ...            0
1            0  ...            0
2            1  ...            0
3            0  ...            1
4            0  ...            0

[5 rows x 4 columns]

In [41]:
toronto_onehot['Neighborhood'] = toronto_venues['Neighborhood'] 
toronto_onehot.head()

   Coffee Shop  Mediterranean Restaurant  ...  Pizza Place      Neighborhood
0            0                         1  ...            0         Parkwoods
1            0                         0  ...            0         Parkwoods
2            1                         0  ...            0         Parkwoods
3            0                         0  ...            1         Parkwoods
4            0                         1  ...            0  Victoria Village

[5 rows x 5 columns]

In [42]:
toronto_onehot = toronto_onehot[[toronto_onehot.columns[-1]] + list(toronto_onehot.columns[:-1])]
toronto_onehot.head()

       Neighborhood  Coffee Shop  ...  Middle Eastern Restaurant  Pizza Place
0         Parkwoods            0  ...                          0            0
1         Parkwoods            0  ...                          1            0
2         Parkwoods            1  ...                          0            0
3         Parkwoods            0  ...                          0            1
4  Victoria Village            0  ...                          0            0

[5 rows x 5 columns]

In [43]:
# group rows by neighborhood taking the mean of the frequency of occurrence of each category
toronto_grouped = toronto_onehot.groupby('Neighborhood').mean().reset_index()
toronto_grouped.head()

                                      Neighborhood  ...  Pizza Place
0                                        Agincourt  ...         0.25
1                           Alderwood, Long Branch  ...         0.25
2  Bathurst Manor, Wilson Heights, Downsview North  ...         0.25
3                                  Bayview Village  ...         0.25
4                Bedford Park, Lawrence Manor East  ...         0.25

[5 rows x 5 columns]

In [44]:
len(df.Neighborhood.unique())

98

In [45]:
toronto_grouped.shape

(98, 5)

In [46]:
num_top_venues = 5  #top 5 venues of each neighborhood

for hood in toronto_grouped['Neighborhood']:
    print("  ----"+hood+"----")
    temp = toronto_grouped[toronto_grouped['Neighborhood'] == hood].T.reset_index()
    temp.columns = ['venue','freq']
    temp = temp.iloc[1:]
    temp['freq'] = temp['freq'].astype(float)
    temp = temp.round({'freq': 2})
    print(temp.sort_values('freq', ascending=False).reset_index(drop=True).head(num_top_venues))
    print('\n')

  ----Agincourt----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Alderwood, Long Branch----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Bathurst Manor, Wilson Heights, Downsview North----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Bayview Village----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Bedford Park, Lawrence Manor East----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Berczy Park----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Birch Cliff, Cliffside West----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Brockton, Parkdale Village, Exhibition Place----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Business reply mail Processing Centre----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----CN Tower, King and Spadina, Railway Lands, Harbourfront West, Bathurst Quay, South Niagara, Island airport----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Caledonia-Fairbanks----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Canada Post Gateway Processing Centre----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Cedarbrae----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Central Bay Street----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Christie----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Church and Wellesley----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Clarks Corners, Tam O'Shanter, Sullivan----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Cliffside, Cliffcrest, Scarborough Village West----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Commerce Court, Victoria Hotel----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Davisville----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Davisville North----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Del Ray, Mount Dennis, Keelsdale and Silverthorn----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Don Mills----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Dorset Park, Wexford Heights, Scarborough Town Centre----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Downsview----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Dufferin, Dovercourt Village----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----East Toronto----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Eringate, Bloordale Gardens, Old Burnhamthorpe, Markland Wood----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Fairview, Henry Farm, Oriole----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----First Canadian Place, Underground city----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Forest Hill North & West----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Garden District, Ryerson----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Glencairn----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Golden Mile, Clairlea, Oakridge----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Guildwood, Morningside, West Hill----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Harbourfront East, Union Station, Toronto Islands----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----High Park, The Junction South----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Hillcrest Village----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Humber Summit----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Humberlea, Emery----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Humewood-Cedarvale----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----India Bazaar, The Beaches West----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Islington Avenue----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Kennedy Park, Ionview, East Birchmount Park----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Kensington Market, Chinatown, Grange Park----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Kingsview Village, St. Phillips, Martin Grove Gardens, Richview Gardens----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Lawrence Manor, Lawrence Heights----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Lawrence Park----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Leaside----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Little Portugal, Trinity----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Malvern, Rouge----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Milliken, Agincourt North, Steeles East, L'Amoreaux East----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Mimico NW, The Queensway West, South of Bloor, Kingsway Park South West, Royal York South West----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Moore Park, Summerhill East----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----New Toronto, Mimico South, Humber Bay Shores----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----North Park, Maple Leaf Park, Upwood Park----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----North Toronto West----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Northwest----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Northwood Park, York University----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Old Mill South, King's Mill Park, Sunnylea, Humber Bay, Mimico NE, The Queensway East, Royal York South East, Kingsway Park South East----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Parkdale, Roncesvalles----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Parkview Hill, Woodbine Gardens----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Parkwoods----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Queen's Park, Ontario Provincial Government----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Regent Park, Harbourfront----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Richmond, Adelaide, King----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Rosedale----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Roselawn----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Rouge Hill, Port Union, Highland Creek----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Runnymede, Swansea----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Runnymede, The Junction North----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Scarborough Village----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----South Steeles, Silverstone, Humbergate, Jamestown, Mount Olive, Beaumond Heights, Thistletown, Albion Gardens----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----St. James Town----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----St. James Town, Cabbagetown----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Steeles West, L'Amoreaux West----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Stn A PO Boxes----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Studio District----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Summerhill West, Rathnelly, South Hill, Forest Hill SE, Deer Park----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----The Annex, North Midtown, Yorkville----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----The Beaches----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----The Danforth West, Riverdale----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----The Kingsway, Montgomery Road, Old Mill North----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Thorncliffe Park----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Toronto Dominion Centre, Design Exchange----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----University of Toronto, Harbord----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Upper Rouge----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Victoria Village----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----West Deane Park, Princess Gardens, Martin Grove, Islington, Cloverdale----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Westmount----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Weston----
                       venue  freq
0                Coffee Shop  0.25
1   Mediterranean Restaurant  0.25
2  Middle Eastern Restaurant  0.25
3                Pizza Place  0.25


  ----Wexford, Maryvale----
                       venue  freq
0                Coffee Shop  0.25

In [0]:
def return_most_common_venues(row, num_top_venues):         # sorting in descending order
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

In [48]:
# New dataframe to display the top 3 venues for each neighborhood
num_top_venues = 3
indicators = ['st', 'nd', 'rd']

columns = ['Neighborhood']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

neighborhoods_venues_sorted = pd.DataFrame(columns=columns)
neighborhoods_venues_sorted['Neighborhood'] = toronto_grouped['Neighborhood']

for ind in np.arange(toronto_grouped.shape[0]):
    neighborhoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(toronto_grouped.iloc[ind, :], num_top_venues)

neighborhoods_venues_sorted.head()

                                      Neighborhood  ...     3rd Most Common Venue
0                                        Agincourt  ...  Mediterranean Restaurant
1                           Alderwood, Long Branch  ...  Mediterranean Restaurant
2  Bathurst Manor, Wilson Heights, Downsview North  ...  Mediterranean Restaurant
3                                  Bayview Village  ...  Mediterranean Restaurant
4                Bedford Park, Lawrence Manor East  ...  Mediterranean Restaurant

[5 rows x 4 columns]

In [49]:
# clustering the neighborhood into 5 clusters
kclusters = 5

toronto_grouped_clustering = toronto_grouped.drop('Neighborhood', 1)
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(toronto_grouped_clustering)
kmeans.labels_[0:10]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: ConvergenceWarning: Number of distinct clusters (1) found smaller than n_clusters (5). Possibly due to duplicate points in X.
  after removing the cwd from sys.path.

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int32)

In [50]:
# create a new dataframe that includes the cluster as well as the top 10 venues for each neighborhood.

# add clustering labels
#neighborhoods_venues_sorted.insert(0, 'Cluster Labels', kmeans.labels_)

toronto_merged = df

# merge toronto_grouped with toronto_data to add latitude/longitude for each neighborhood
toronto_merged = toronto_merged.join(neighborhoods_venues_sorted.set_index('Neighborhood'), on='Neighborhood')

toronto_merged.head()

  Postal_Code  ...     3rd Most Common Venue
0         M3A  ...  Mediterranean Restaurant
1         M4A  ...  Mediterranean Restaurant
2         M5A  ...  Mediterranean Restaurant
3         M6A  ...  Mediterranean Restaurant
4         M7A  ...  Mediterranean Restaurant

[5 rows x 8 columns]

In [52]:
map_clusters = folium.Map(location=[43.67635739999999, -79.2930312], zoom_start=11)

# color scheme for the clusters
x = np.arange(kclusters)
ys = [i + x + (i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

# add markers to the map
markers_colors = []
for lat, lon, poi, cluster in zip(toronto_merged['latitude'], toronto_merged['longitude'], toronto_merged['Neighborhood'], toronto_merged['Cluster Labels']):
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.7).add_to(map_clusters)
       
map_clusters

KeyError: ignored

In [0]:
# CLUSTER 1

toronto_merged.loc[toronto_merged['Cluster Labels'] == 0, toronto_merged.columns[[1] + list(range(5, toronto_merged.shape[1]))]]

In [0]:
# CLUSTER 2

toronto_merged.loc[toronto_merged['Cluster Labels'] == 1, toronto_merged.columns[[1] + list(range(5, toronto_merged.shape[1]))]]

In [0]:
# CLUSTER 3

toronto_merged.loc[toronto_merged['Cluster Labels'] == 2, toronto_merged.columns[[1] + list(range(5, toronto_merged.shape[1]))]]

In [0]:
# CLUSTER 4

toronto_merged.loc[toronto_merged['Cluster Labels'] == 3, toronto_merged.columns[[1] + list(range(5, toronto_merged.shape[1]))]]

In [0]:
# CLUSTER 5

toronto_merged.loc[toronto_merged['Cluster Labels'] == 4, toronto_merged.columns[[1] + list(range(5, toronto_merged.shape[1]))]]