This notebook is part of one of the assignment of capstone of Coursera course 'Professional Data Science Certificate'

In [0]:
import urllib.request,urllib.parse,urllib.error
from bs4 import BeautifulSoup
import ssl
import requests
import lxml.html as lh
import pandas as pd

In [0]:
ctx = ssl.create_default_context()
ctx.check_hostname = False
ctx.verify_mode = ssl.CERT_NONE

In [0]:
#html = urllib.request.urlopen(url,context = ctx).read()
#soup = BeautifulSoup(html,'lxml')

#Retrieve all anchor tags
#tags = soup.find('tr')
#for tag in tags:
#  print(tag.get('//tr',None))

In [0]:
#soup.get_text()

In [0]:
#tags

In [19]:
url = input('Enter = ')
page = requests.get(url)
doc = lh.fromstring(page.content)
trs = doc.xpath('//tr')

Enter = https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M

In [76]:
trs = doc.xpath('//tr')
li=[]
i=0

for t in trs[0]:
    i+=1
    name=t.text_content()
    print ('%d:%s'%(i,name))
    li.append((name,[]))

1:Postal code

2:Borough

3:Neighborhood

In [0]:
for j in range(1,len(trs)):
    T=trs[j]
    if len(T)!=3:
        break
    
    i=0
    for t in T.iterchildren():
        data=t.text_content() 
        if i>0:
            try:
                data=int(data)
            except:
                pass
        li[i][1].append(data)
        i+=1

In [0]:
d={key:value for (key,value) in li}
df=pd.DataFrame(d)

In [79]:
df.head()

  Postal code\n           Borough\n                Neighborhood\n
0         M1A\n      Not assigned\n                            \n
1         M2A\n      Not assigned\n                            \n
2         M3A\n        North York\n                   Parkwoods\n
3         M4A\n        North York\n            Victoria Village\n
4         M5A\n  Downtown Toronto\n  Regent Park / Harbourfront\n

In [80]:
df = df.replace('\n',' ', regex=True)
df.head()

  Postal code\n          Borough\n               Neighborhood\n
0          M1A       Not assigned
1          M2A       Not assigned
2          M3A         North York                    Parkwoods
3          M4A         North York             Victoria Village
4          M5A   Downtown Toronto   Regent Park / Harbourfront

In [81]:
df.columns = ['Postal code','Borough','Neighborhood']
df.drop(df.index[df['Borough'] == 'Not assigned '], inplace = True) #remember whitespace after Not assigned
df = df.reset_index(drop=True)
df.head()

  Postal code            Borough                                   Neighborhood
0        M3A         North York                                      Parkwoods
1        M4A         North York                               Victoria Village
2        M5A   Downtown Toronto                     Regent Park / Harbourfront
3        M6A         North York              Lawrence Manor / Lawrence Heights
4        M7A   Downtown Toronto   Queen's Park / Ontario Provincial Government

In [82]:
df.shape

(104, 3)

In [0]:
df['Neighborhood'] = df['Neighborhood'].str.strip()

In [85]:
df.tail()

    Postal code  ...                                       Neighborhood
99         M4Y   ...                               Church and Wellesley
100        M7Y   ...              Business reply mail Processing CentrE
101        M8Y   ...  Old Mill South / King's Mill Park / Sunnylea /...
102        M8Z   ...  Mimico NW / The Queensway West / South of Bloo...
103              ...

[5 rows x 3 columns]

In [0]:
df.drop(df.index[df.Neighborhood ==''],inplace = True)

In [87]:
df.tail()

    Postal code  ...                                       Neighborhood
98         M8X   ...   The Kingsway / Montgomery Road  / Old Mill North
99         M4Y   ...                               Church and Wellesley
100        M7Y   ...              Business reply mail Processing CentrE
101        M8Y   ...  Old Mill South / King's Mill Park / Sunnylea /...
102        M8Z   ...  Mimico NW / The Queensway West / South of Bloo...

[5 rows x 3 columns]

In [88]:
df.shape

(103, 3)

In [0]:
df.to_csv('toronto_data_wiki.csv')