In [1]:
import urllib.request,urllib.parse,urllib.error
from bs4 import BeautifulSoup
import ssl
import requests
import lxml.html as lh
import pandas as pd

In [ ]:
# ctx = ssl.create_default_context()
# ctx.check_hostname = False
# ctx.verify_mode = ssl.CERT_NONE

In [ ]:
#html = urllib.request.urlopen(url,context = ctx).read()
#soup = BeautifulSoup(html,'lxml')

#Retrieve all anchor tags
#tags = soup.find('tr')
#for tag in tags:
#  print(tag.get('//tr',None))

In [ ]:
#soup.get_text()

In [ ]:
#tags

In [6]:
url = input('Enter = ')
response = requests.get(url)

Enter = https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M

In [7]:
response

In [8]:
doc = lh.fromstring(response.content)
trs = doc.xpath('//tr')

In [9]:
li=[]
i=0

for t in trs[0]:
    i+=1
    name=t.text_content()
    print ('%d:%s'%(i,name))
    li.append((name,[]))

1:Postal Code

2:Community

3:Neighbourhood

In [10]:
for j in range(1,len(trs)):
    T=trs[j]
    if len(T)!=3:
        break
    
    i=0
    for t in T.iterchildren():
        data=t.text_content() 
        if i>0:
            try:
                data=int(data)
            except:
                pass
        li[i][1].append(data)
        i+=1

In [11]:
d={key:value for (key,value) in li}
df=pd.DataFrame(d)

In [12]:
df.head()

  Postal Code\n         Community\n              Neighbourhood\n
0         M1A\n      Not assigned\n               Not assigned\n
1         M2A\n      Not assigned\n               Not assigned\n
2         M3A\n        North York\n                  Parkwoods\n
3         M4A\n        North York\n           Victoria Village\n
4         M5A\n  Downtown Toronto\n  Regent Park, Harbourfront\n

In [13]:
df = df.replace('\n',' ', regex=True)
df.head()

  Postal Code\n        Community\n             Neighbourhood\n
0          M1A       Not assigned                Not assigned
1          M2A       Not assigned                Not assigned
2          M3A         North York                   Parkwoods
3          M4A         North York            Victoria Village
4          M5A   Downtown Toronto   Regent Park, Harbourfront

In [14]:
df.columns = ['Postal code','Borough','Neighborhood']
df.head()

  Postal code            Borough                Neighborhood
0        M1A       Not assigned                Not assigned
1        M2A       Not assigned                Not assigned
2        M3A         North York                   Parkwoods
3        M4A         North York            Victoria Village
4        M5A   Downtown Toronto   Regent Park, Harbourfront

In [15]:
df.drop(df.index[df['Borough'] == 'Not assigned '], inplace = True) #remember whitespace after Not assigned
df = df.reset_index(drop=True)
df.head()

  Postal code            Borough                                  Neighborhood
0        M3A         North York                                     Parkwoods
1        M4A         North York                              Victoria Village
2        M5A   Downtown Toronto                     Regent Park, Harbourfront
3        M6A         North York              Lawrence Manor, Lawrence Heights
4        M7A   Downtown Toronto   Queen's Park, Ontario Provincial Government

In [16]:
df.shape

(104, 3)

In [17]:
df['Neighborhood'] = df['Neighborhood'].str.strip()

In [18]:
df.tail()

    Postal code  ...                                       Neighborhood
99         M4Y   ...                               Church and Wellesley
100        M7Y   ...  Business reply mail Processing Centre, South C...
101        M8Y   ...  Old Mill South, King's Mill Park, Sunnylea, Hu...
102        M8Z   ...  Mimico NW, The Queensway West, South of Bloor,...
103              ...

[5 rows x 3 columns]

In [19]:
df.drop(df.index[df.Neighborhood ==''],inplace = True)

In [20]:
df.tail()

    Postal code  ...                                       Neighborhood
98         M8X   ...      The Kingsway, Montgomery Road, Old Mill North
99         M4Y   ...                               Church and Wellesley
100        M7Y   ...  Business reply mail Processing Centre, South C...
101        M8Y   ...  Old Mill South, King's Mill Park, Sunnylea, Hu...
102        M8Z   ...  Mimico NW, The Queensway West, South of Bloor,...

[5 rows x 3 columns]

In [21]:
df.shape

(103, 3)

In [22]:
df.to_csv('toronto_data_wiki.csv')